/* CSS document */
/* Default styling for the Forest City Nursing & Rehab Center Website */
/* Copyright 2015 Forest City Nursing & Rehab Center */
/* Written By: Dominick Sparks */
/* Last Updated: 1-15-2016*/


html, body{
	height: 100%;
}
/* Push the footer to the bottom of the screen */
.wrapper{
	min-height: 100%;
	margin: 0 auto -235px;
}
/* Footer Styling */
footer.mainFooter{
	height: 235px;
}

.push{
	height: 235px;
}

footer.mainFooter{
	background-image: url('/resources/css/images/footerBGPattern.png');
	background-repeat: repeat-x repeat-y;
	color: white;
	text-align: center;
	padding-top: 25px;
	box-shadow: rgba(0, 0, 0, 0.49) 0px 8px 15px 2px inset;
}

footer.mainFooter .footerCopyright p{
	padding:0px;
	margin:0px;
}
footer.mainFooter .footerCopyright h6,footer .footerCopyright h4{
	margin: 2px;
}
footer .footerLinks{
	height: 135px;
	padding-top: 0px;

}
footer .footerBottom{
	padding-top: 15px;
}
footer .socialMediaLinks a{
	height: 50px;
	width: 50px;
	display: block;
	margin-left: 5px;
	background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
footer .facebook{
	 background-image: url('/resources/css/images/facebook.png');
}
footer .facebook:hover{
	 background-image: url('/resources/css/images/facebookH.png');
}
footer .email{
  	background-image: url('/resources/css/images/mail.png');
}
footer .email:hover{
  	background-image: url('/resources/css/images/mailH.png');	
}
footer .linkedIn{
	 background-image: url('/resources/css/images/linkedIn.png');
}
footer .linkedIn:hover{
	 background-image: url('/resources/css/images/linkedInH.png');
}
footer .footerImageContainer a img{
	height: 50px;
}
footer .footerImageContainer{
	padding-right:0px;
	padding-top: 10px;
	height: 60px;
}
footer .footerImageContainer a{
	float: right;
}

footer .footerLinks li.linkHeader{
	font-size: 15pt;
	list-style: none;
	margin-left: -15px;
	font-family: 'Marcellus SC', serif;
}

footer .footerLinks li{
	list-style: none;
	text-align: left;
	white-space: nowrap;
}

footer .socialMediaLinks{
	list-style: none;
	display: flex;
}
footer .socialMediaLinks img{
	height: 50px;
	padding-left: 5px;
}
footer.mainFooter a{
	color: white;
}
footer.mainFooter a:hover{
	color: #d1d1d1;
}
/* End of footer styling */

/* Navbar Styling */

#mainNav .navbar-brand{
	padding: 0px;
	z-index: 50;
}
#mainNav .navbar-brand:hover{
	box-shadow: 1px 1px 15px 1px white;
}
#mainNav img{
	height:100%;
}

/* Attempt to have nabBar brand in pure CSS */


/*			*/
#mainNav .navbar-toggle{
	border: none;
	color: white;
	font-size: 22px;
	line-height: 10px;
	padding: 5px 0px 0px 0px;
}
#mainNav .navbar-toggle:hover{
	background: none;
	cursor: pointer;
}

#mainNav{
	border: none;
	background: maroon;
	margin-bottom: 0px;
	box-shadow: black 1px 1px 10px 1px;
}
#mainNav .navbarLineContainer{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	overflow: hidden;
	pointer-events: none;
	z-index: 1;
}
#mainNav .navbarLine{
	width: 100%;
	height: 1px;
	background: white;
	position: absolute;
	left: 171px;
}
#mainNav .top{
	top: 5px;
}
#mainNav .bottom{
	top: 45px;
}
#mainNav a{
	color: white;
	font-size: 16pt;
	font-family: 'Marcellus SC', serif;
}
#mainNav a:hover{
	color: #ffedca;
	text-decoration: underline;
	background: transparent;
}
/* style the dropdown menus */
#mainNav .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	background: transparent; 
}
#mainNav .dropdown-menu{
	background: maroon;
	text-align: center;

}
#mainNav .navbar-collapse{
	border: none;
}
#mainNav .dropdown .open{
	background: transparent;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}
#mainNav .dropdown-menu > li >a:focus, #mainNav .dropdown-menu > li >a:hover{
	background: transparent;
}
/* end of dropdown styling */
#mainNav .navbar-nav>li{
 	float: none;
 	text-align: center;
}
#mainNav .nav-justified{
	width: 78%;
}
#mainNav .searchDropdown{
	background: transparent;
	width: 100%;
	margin-top: -10px;
	border: none;
	box-shadow: none;
}
/* End of nav bar styling */



/* Content Tile Default Styling */

/* Adjust margins for tiles used as page content to fill entiere width of viewport */
#pageContent.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
	min-height: 100%;
}
#pageContent .row{
	margin-left: 0px;
	margin-right: 0px;
}

.contentTile h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 8px;
}

.contentTile{
	padding: 30px 15px 15px 15px;
	border-bottom: 2px solid gray;
	vertical-align: middle;
}
.contentTile .tileHeadingText h1{
	text-indent: 25px;
	font-size: 30pt;
	color: #454545;
}
.contentTile .tileHeadingText h4{
	font-size: 16pt;
	color: #696969;
}
.contentTile .textBlockContainer{
	margin-top: 15px;
}
.contentTile p{
	font-weight: 200;
	font-size: 12pt;
	color: #454545;
}
.contentTile .contentTileImgContainer img{
	height:300px;
	width: 300px;
	box-shadow: 1px 3px 4px 0px #505050;
}
.contentTile .contentTileImgContainer {
	padding-top: 5%;
}

.contentTile img{
	height: 375px;
	width: 375px;
	box-shadow: 1px 3px 4px 0px #505050;
}

#pageContent .contentTile:first-child{
	margin-top: 0px;
}
#pageContent .contentTile:last-child{
	border-bottom: none;
}

/* Style the employee bio tiles */

.contentTile.employeeBio .employeeImgContainer{
}
.contentTile.employeeBio img{
	/*height: 175px;
	width: 175px;
	*/
	height: 225px;
	width: 225px;
	box-shadow: 1px 3px 4px 0px #505050;
}
.contentTile.employeeBio h1{
	text-indent: 25px;
}
.contentTile.employeeBio p{
	font-weight: 200;
	font-size: 12pt;
}

.contentTile.pageNotFound h1{
	font-size: 90pt;
	font-weight: bold;
}
.contentTile.pageNotFound{
	text-align: center;
}

/* Style thumbnail Navigation */
.contentTile.thumbnailNav{
	background: maroon;
}
.contentTile.thumbnailNav img{
	height: 150px;
	width: 150px;
}

.contentTile.thumbnailNav .caption h3{
	text-align: center;
}

/* end of content tile styling */
.imgFillContainer{
	max-width: 100%;
}

.mediaTile img{
	height: 325px;
}

/* Change tile styling on small devices */
@media (max-width: 767px){
	.carousel img{
	  width: auto;
	  height: 190px;
	  max-height: 190px;
	  margin: auto;
	}
}

#map_canvas{
	height: 435px;
	width: auto;
}
#map_canvas img{
	box-shadow: none;
}

.carousel{
	height: 350px;
	width: 100%;
}

.carousel .item{
	height: 350px;
}

.carousel .carousel-caption h1{
	font-weight: 100;
	font-size: 50pt;
}

.contactInformationContainer ul{
	list-style: none;
}
.contactInformationContainer li span{
	padding-right: 10px;
}

#slide2{
	background-image:  url('/resources/images/NursingCenter1.png');
	background-position: 50% 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

#slide1{
	background-image: url('/resources/images/NursingCenter2Edited.jpg');
	background-position: 50% 80%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

#slide3{
	background-image: url('/resources/images/christmas.jpg');
	background-position: 50% 65%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

#calendar{
	max-width: 900px;
	margin: 0 auto;
}

.titleAcronym{
	font-size: 16pt;
}

.btn-maroon{
	background: maroon;
	color: white;
}
.btn-maroon:hover,.btn-maroon:active,.btn-maroon:focus{
	color: #dddddd;
	background: #5e0000;
}

.thumbnailNav .thumbnail{
	min-height: 350px;
}
