/* CSS document */
/*  Styling for responsive design on smaller devices */
/* Copyright 2015 Forest City Nursing & Rehab Center */
/* Written By: Dominick Sparks */
/* Last Updated: 1-15-2016 */

/* Medium and anything smaller */
@media(max-width:1199px){
	.contentTile .tileHeadingText h1{
		font-size: 28pt;
		text-indent: 0px;
	}
	.contentTile .tileHeadingText h4{
		font-size: 14pt;
	}
	
}

/* Small and anything smaller */
@media(max-width:992px){ /* was 991px... adjusted to hide footer links at 991px and styling didn't change */
	.contentTile{
		padding: 15px 4px 15px 4px;
	}
	.contentTile .tileHeadingText h1{
		text-align: center;
		text-indent: 0px;
	}
	.contentTile .tileHeadingText h4{
		text-align: center;
	}
	footer .footerLinks{
		display:none;
	}
	footer .socialMediaLinks{
		width:170px;
		margin: auto;
		margin-top: 20px;
	}
	footer .footerImageContainer a{
		float: none;
	}
	footer .footerImageContainer{
		display: none;
	}
	footer .footerCopyright p{
		padding:30px 0px 0px 0px;
		margin:0px;
	}
	footer .footerCopyright{
		margin-top:40px;
	}

	.employeeDescription h1, .employeeDescription h4{
		text-align: center;
	}
}

/* Small and anything larger */
@media(min-width:768px){
	#mainNav .dropdown-menu{
		max-width: 300px;
	}
}

@media(min-width:992px){

}

/* Specifally targeted device styling */

/* Extra Small - phone */
@media(max-width:767px){
	#mainNav .nav-justified{
		width: 100%;
	}
	#mainNav #mainNavigation{
		background: #a3a3a3;
		padding: 0px;
	}
	#mainNav #mainNavigation ul{
		padding: 0px;
		margin: 0px;
	}
	#mainNav .dropdown-menu li a{
		height: 60px;
		padding-top: 20px;
	}
	#mainNav .dropdown a{
		height: 60px;
		padding-top: 20px;
	}
	#mainNav .dropdown a span.caret{
		display: none;
	}
	#mainNav .dropdown a span.glyphicon{
		font-size: 18px;
	}
	.contentTile img{
		max-height: 250px;
		width: auto;
	}
	.carousel{
		height: 250px;
	}
	.carousel .item{
		height: 250px;
	}
	#map_canvas{
		height: 250px;
	}
	
	.sendMessage .well{
		width: 100%;
	}
	
}

/* Small - iPad Retina portrait*/
@media(min-width:768px) and (max-width:991px){

}

/* Medium -iPad Retina landscape */
@media(min-width:992px) and (max-width:1199px){

}

/* Large */
@media(min-width:1200px){}